<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestNG" parallel="classes" thread-count="3">
    <test name="TestNG">
        <classes>
            <class name="rest_assured.get.TestOne"/>
            <class name="rest_assured.post.TestTwo"/>
            <class name="rest_assured.put.TestThree"/>
        </classes>
    </test>
</suite>
